<div class="container">

  <form class="example" #repoform="ngForm">
    <input type="text" placeholder="Search User Repos" name="userName" [(ngModel)]="userName" required>
    <button type="button" (click)="getUserRepositories()"><i class="fa fa-search"></i></button>
  </form>
  <div class="container display">
    <div class="row">
      <div class="col-md-8" *ngFor = "let repo of repos">    
        
        <div class="repodetails">
          <h3>Repo:{{repo.name}}</h3>
          <h4>Description:{{repo.description}}</h4>
          <h4>Created at: {{repo.created_at | date: 'medium'}}}</h4>
          <button class="btn"> <a class="btn btn-info" href={{repo.html_url}}>View Repository</a></button>  
        </div>
        
      </div>
    </div>
  </div>
</div>



  