
* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid #008599;
  color: white;
  float: left;
  width: 20%;
  background: transparent;
}

form.example button {
  float: left;
  width:5%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 17px;
  background: #008599;
  border: 2px solid #008599;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #008599;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}