<div class="header">
  <div class="head">
    <h1 style="color: #30C0DA; ">Git <span class="iconify" data-icon="bytesize:github" style="color: #30C0DA;"
        data-width="30" data-height="30"></span> Search</h1>
  </div>
  <div class="nav navbar-nav">
    <h2> <a class="nav-item nav-link active btn" routerLink="profile" routerLinkActive="active">Profile</a> </h2>
    <h2> <a class="nav-item nav-link active btn" routerLink="users" routerLinkActive="active">Search Users</a> </h2>
    <h2> <a class="nav-item nav-link active btn" routerLink="repos" routerLinkActive="active"> Search Repo</a> </h2>
  </div>
</div>
