.body{
    background: url(../../assets/images/git2.jpg);
    background-size: cover;
    height: 100vh;
    
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.head{
    /* border: 1px solid white; */
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 4%;
    /* text-align: center;  */
    
}
.nav{
    display: flex;
    gap: 20px;
}
h2 a{
    color: #30c0da;
    text-decoration: none;
    margin-right: 20px;
}
 h2 a:hover{
    color: white;
}
