  <div class="container">
    <form class="example" #userform="ngForm">
      <input type="text" placeholder="Enter Username" name="userName" id="userName" [(ngModel)]="userName" required>
      <button (click)=searchUser() type="button"><i class="fa fa-search"></i></button>
    </form>

    <div class="display">
      <div class="row">
        <div class="col-md-5">
          <img id="avatar" [src]="profile.avatar_url">
        </div>
        <div class="col-md-7">
          <h3>Name:{{profile.name}}</h3>
          <h4>UserName:{{profile.login}}</h4>
          <h4>Bio: {{profile.bio}}</h4>
          <h4>followers:{{profile.followers}}</h4>
          <h4>following: {{profile.following}}</h4>
        </div>
      </div>
    </div>

  </div> 



