img{
    border-radius: 50%;
    height: 150px;
    margin-left: 15%;
}
.btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 40%;
    padding: 20px 50px;
    border: 1px solid #008599;
    border-radius: 10px;
}
.btn:hover{
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate {
    0%{
        box-shadow: 
        0 0 25px #30c0Da,
        0 0 50px #00b2cc;
    }
}
.container{
    background: url(../../assets/images/git2.jpg);
    padding-top: 2%;
    height: 100vh;
    padding-left: 10%;
    align-items: center;
}