button{
    
    width: 10%;
    padding: 5px;
    font-weight: 700;
    background-color: #008599;
    
    border-radius: 15px;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover{
    background-color: transparent;
    border: 2px solid #008599;
    color: #008599;
}
h1 h2{
    color: white;
}
.home{
    margin-left: 5%;
    margin-top: 7%;
}